.background{
    background-size: cover;
}
.header{
    position: absolute;
    z-index: 1;
    color: lavender;

}
.main{
    position: absolute;
    z-index: 1;
    &__clock{
        background-color: rgba($color: #f1ebeb71, $alpha: 0.5);
        
    }
    &__form{
        &--inputName{
        }
        &--submit{
        }
    }
    &__sentences{
        background-color: rgba(88, 98, 240, 0.657);
        color: white;
        &--author{
        }
        &--phrase{
        }
    }
}

.footer{
    position: absolute;
    z-index: 1;
    &__copy{
        color: antiquewhite;
}
}